.footer {
  width: 100%;
  padding: 40px 0;
}

.page-footer__wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 620px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 14px;
  border: 3px solid fade(@basic_color, 10%);
  border-radius: 50%;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__item:focus,
.social-list__item:hover {
  border: 3px solid @basic_color;
}

.social-list__item:active {
  opacity: 0.3;
}

.social-list__link {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.social-list__image {
  align-self: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  padding-right: 15px;
}
