.page-header {
  padding-bottom: 396px;
  margin-bottom: 283px;
  height: 66px;
  background-image: url("../img/phone.png"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: bottom, bottom;
}

.main-nav {
  position: relative;
  z-index: 1;
  margin-bottom: 29px;
  // height: 66px;
  background-color: @special_black_03;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
}

.main-nav__logo {
  margin: 21px 20px 0;
}

.main-nav__toggle {
  align-self: center;
  width: 50px;
  height: 24px;
  margin: 21px 20px;
  border: none;
  background-color: @special_black_01;
  background-image: url("../img/open-menu-btn.svg");
  cursor: pointer;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }
}

.list-item {
  padding-right: 79px;
}

.list-item:last-child {
  padding-right: 0;
}

.header-box__intro-box {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 309px;
}

.header-box__text {
  text-align: center;
  color: @basic_white;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.header-box__container-wrap {
  // height: 270px;
  box-sizing: border-box;
  background-color: @basic_blue_dark;
}

.header-box-container {
  width: 280px;
  margin: 0 auto;
  padding: 28px 20px 38px;
}

.header-box__link {
  display: block;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  border: 3px solid @basic_white;
  border-radius: 50px;
}

.header-box-icons {
  margin: 30px 36px 20px;
  padding-bottom: 0;
}

.header-box__icon-link {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-right: 30px;
}

.header-box__icon-link:last-child {
  margin-right: 0;
}

.header-box-container__text {
  margin: 0;
  padding: 0 20px;
  font-weight: 300;
  text-align: center;
  color: @basic_white;
}
