.reviews {
  margin: 0 auto;
  padding: 0 20px;
}

.review__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 94px;
  text-align: center;
}

.review__author {
  display: none;
}

.reviews__slider-controls {
  display: flex;
  justify-content: center;
  // width: 280px;
  // margin: 0 auto;
}
