// Colors

@basic_color: #283645;
@basic_white: #FFFFFF;
@basic_black: #000000;
@basic_blue_dark: #1D2631;
@hover_red: #d22856;
@shadow: #283645;
@special_black_03: rgba(0, 0, 0, 0.3);

// Viewports

@mobile-width-only: 659px;
@tablet-width: 660px;
@desktop-width: 960px;
