// Colors

@basic_color: #283645;
@basic_white: #FFFFFF;
@basic_black: #000000;
// @special_black_03: rgba(0, 0, 0, .3);
// @special_black_01: rgba(0, 0, 0, .1);

// Viewports

@mobile-width-only: 659px;
@tablet-width: 660px;
@desktop-width: 960px;
